main {
  display: flex;
  flex-direction: row;
  flex: auto;
}
body {
  display: flex;
  flex-direction: column;
}
article {
  flex: 1;
  overflow-y: auto;
}
aside {
  flex: 2;
  overflow-y: auto;
}
.im {
  position: absolute;
  right: 150px;
  margin: 10px 10px 10px 50px;
  border: 15px;
  padding: 0px;
  width: auto;
  height: 400px;
}
.list {
  position: absolute;
  left: 375px;
  margin: 10px 10px 10px 50px;
  border: 15px;
  padding: 0px;
  width: auto;
  height: 400px;
}
